/*
*   Abricotine - Markdown Editor
*   Copyright (c) 2015 Thomas Brouard
*   Licensed under GNU-GPLv3 <http://www.gnu.org/licenses/gpl.html>
*/

// Abricotine Warm Theme

// USER INTERFACE
// ==============

// Main
@ui-font-size: 13px;
@ui-background-color: #fff;

// Pane
@ui-pane-color: #444;
@ui-pane-background-color: #e7d9b6;
@ui-pane-border-color: #999;
.ui-pane-item() {
}
.ui-pane-item-hover() {
    background: rgba(0,0,0,.03);
    box-shadow: inset 0 0 1px rgba(0,0,0,.1);
    text-shadow: 0 -1px 0 #fff;
}
.ui-pane-item-active() {
    background: #f0a82b;
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.2);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

// CodeMirror dialogs
@ui-dialog-color: @ui-pane-color;
@ui-dialog-background: @ui-pane-background-color;
@ui-dialog-button-background: #ddd;
@ui-dialog-button-focus-background: #e60;
@ui-dialog-button-color: #333;
@ui-dialog-border-color: @ui-pane-border-color;

// Scrollbars
@ui-scrollbar-track-color: #e5e5e5;
@ui-scrollbar-color: #AAA;
@ui-scrollbar-hover-color: @ui-scrollbar-color;
@ui-scrollbar-width: 10px;
@ui-scrollbar-search-background: #F19414;

// EDITOR
// ======

// Text
@editor-font-family: "Fira Code", Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
@editor-ligatures: true;
@editor-text-color: #1d2426;
@editor-background-color: #fff9f0;

// Headers
.editor-headers() {
    color: #3d1f1f;
    font-family: "Fira Code", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}
.editor-header-1() {
    font-size: 170%;
}
.editor-header-2() {
    font-size: 140%;
}
.editor-header-3() {
    font-size: 120%;
}
.editor-header-4() {
    font-size: 100%;
}
.editor-header-5() {
    font-size: 100%;
}
.editor-header-6() {
    font-size: 100%;
}

// Code
@editor-code-font-family: "Fira Code", "Courier New", Courier, "Liberation Mono", monospace;

.editor-code() {
    color: #3d2249;
    background: #eee;
}

// Quote
.editor-quote() {
    color: #75787b;
}

// List
@editor-list-padding-left: 0;
@editor-list-checked-color: #999;
.editor-list() {
    color: auto;
}
.editor-list-checked() {
    text-decoration: line-through;
}

// Horizontal rule
.editor-hr() {
    color: #75787b;
}

// Image
.editor-image() {
    color: #d44;
}

// Link and URL
.editor-link() {
    color: #05a;
}
.editor-link-href() {
    color: #75787b;
}

// Text formating
.editor-em() {};
.editor-strong() {};
.editor-strikethrough() {};

// Formatting marks and hidden characters
@editor-formatting-color: #ff5d1a;
@editor-hidden-characters-color: #999;

// Cursors and selections
@editor-cursor-color: #f60;
@editor-cursor-width: 2px;
.editor-selection() {
    background-color: #ffcaa7;
}
.editor-searching() {
    background: transparent;
    padding: 1px;
    border: 2px solid #1d75b3;
    border-radius: 3px;
}

// Show blocks option
@editor-block-margin-color: #ddd;
@editor-block-margin-size: 5px;

// Errors
@error-color: #c00;
@error-color-contrast: #fff;

// CodeMirror code highlighting
@cm-atom-color: #75438a;
@cm-attribute-color: #05a;
@cm-builtin-color: #30a;
@cm-bracket-color: #997;
@cm-comment-color: #75787b;
@cm-def-color: #05a;
@cm-header-color: #05a;
@cm-hr-color: #999;
@cm-keyword-color: #1d75b3;
@cm-link-color: #05a;
@cm-meta-color: #555;
@cm-node-color: #9c3328;
@cm-number-color: #75438a;
@cm-operator-color: auto;
@cm-property-color: #1d75b3;
@cm-punctuation-color: auto;
@cm-qualifier-color: #047d65;
@cm-quote-color: #090;
@cm-string-color: #b35e14;
@cm-string-2-color: #f50;
@cm-tag-color: #9c3328;
@cm-variable-color: #047d65;
@cm-variable-2-color: #05a;
@cm-variable-3-color: #085;
@cm-negative-color: #d44;
@cm-positive-color: #292;
