/*
* Custom App Mode Settings for Firefox.
* This duplicates the effects of Chrome App mode.
*
*/

/* Hide the tabs bar */
#TabsToolbar {
    visibility: collapse !important;
}

/* Hide main toolbar */
#nav-bar toolbarbutton, #search-container, #stop-reload-button {
    display: none !important;
}
#nav-bar {
    min-height: 0px !important;
    max-height: 0px !important;
}

/* Hide bookmarks toolbar */
/* Just right click on it and hide it */
